
body {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 20px;
	font-weight: 800;
	padding: 15px 20px;
}

button img {
	padding: 5px 5px;
	width: 10px;
}

button {
	background-color: #EF8F55;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	margin: 0 20px;
}

button:hover {
	border: 3px solid #AE693E;
}

.page-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.main-content {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	width: 60%;
}

.slideshow-content {
	background: url(http://www.fillmurray.com/510/640);
	position: relative;
	height: 640px;
	width: 40%;

}

.left {
	left: 10px;
	position: absolute;
	top: 50%;
}

.right {
	position: absolute;
	right: 10px;
	top: 50%;
}

.dots {
	position: absolute;
	right: 10px;
	top: 10px;
}

.double-box {
	background-color: #EF8F55;
	display: flex;
	flex-direction: column;
	height: 33.33%;
	width: 66.66%;
}

.download-buttons {
	display: flex;
	margin: 10px 0;
}

.intro-copy {
	padding: 5px 10px;
	size: 14px;
	text-align: left;
}

.box {
	align-items: center;
	display: flex;
	height: 33.33%;
	justify-content: center;
	width: 33.33%;
}
.icon-group {
	text-align: center;
}

.icon-label {
	color: #FFFFFF;
	margin: 5px auto;
	size: 16px;
}

.icon-img {
	margin: 0 auto;
	padding-bottom: 5px;
	width: 40px;
}

.shrink-img {
	width: 30px;
}

.level-1 {
	background-color: #9B6B6A;
}

.level-2,.level-4 {
	background-color: #CEB992;
}

.level-3 {
	background-color: #5A848B;
}

/**media queries**/
@media screen and (max-width: 853px) {
	.slideshow-content {
		background: url(/Users/lauraturk/Turing/lt-comp-challenge-1/Images/fillmurray_740x340.jpg);
		position: relative;
		height: 340px;
		order: -1;
		width: 100%;
	}

	.main-content {
		height: 680px;
		width: 100%;
	}

	.double-box {
		height: 33.33%;
		width: 66.66%;
	}

	.box {
		height: 33.33%;
		width: 33.33%;
	}
}

@media screen and (max-width: 620px){
	.slideshow-content{
		background: url(/Users/lauraturk/Turing/lt-comp-challenge-1/Images/fillmurray_600x300.jpg);
		height: 250px;
		position: relative;
		width: 100%;
	}

	.double-box {
		order: -1;
		width: 100%;
	}

	.box {
		height: 125px;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.slideshow-content {
		background: url(/Users/lauraturk/Turing/lt-comp-challenge-1/Images/fillmurray_500x250.jpg);
		height: 200px;
		position: relative;
		width: 100%;
	}
}

@media screen and (max-width: 350px) {
	.slideshow-content {
		background: url(/Users/lauraturk/Turing/lt-comp-challenge-1/Images/fillmurray_350x200.jpg);
		height: 200px;
		position: relative;
		width: 100%;
	}

	.double-box {
		padding-bottom:10px;
	}
}
